body{
    background: black; 
}

.Wrapper{
    margin: 0 auto;
    max-width: 1700px;
    width: 100%;
}


.block_1{
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

p{
    color: white;
    font-family: Bold;
    font-size: 24px;
    font-weight: 600; 
}

@font-face {
    font-family: Bold;
    src: url(/assets/fonts/bolditalic2.otf);
}
