.slider-container {
    position: relative;
    width: 80%;
    max-width: 800px;
    margin: auto;
    overflow: hidden;

    .prev-slide {
        left: 10px;
    }

    .slider-wrapper {
        display: flex;
        overflow: hidden;
    
        .slider {
            display: flex;
            transition: transform 0.5s ease-in-out;
                
            .slide {
                min-width: 100%;
                .block_slider{
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    max-width: 320px;
                    width: 100%;
                    background: white;
                    border-radius: 35px;
                    justify-content: center;
                    align-items: center;
                    padding-bottom: 25px;
                    max-height: 320px;
                    .top_block{
                        display: flex;
                        flex-direction: column;
                        gap: 15px;
                        align-items: center;
        
                        .text_top_block{
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            .fs24fw600{
                                font-size: 24px;
                                font-weight: 600;
                            }
                            
                        }
                        
                    }
        
                    .button_red{
                        background: red;
                        color: white;
                        font-size: 24px;
                        font-weight: 600;
                        border-radius: 35px;
                        padding: 12px 60px;
                        border: none;
                    }
                }
                    img {
                        width: 100%;
                        display: block;
                    }
                }
                
        }
    }

    button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        border: none;
        padding: 10px;
        cursor: pointer;
        z-index: 10;
    }

    
    .next-slide {
        right: 10px;
    }
}










