body{
    background: black; 
}

.Wrapper{
    margin: 0 auto;
    max-width: 1700px;
    width: 100%;
    display: flex;
    gap: 120px;
    flex-direction: column;
}

.blocks{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.top_block{
    display: flex;
    justify-content: center;
    align-items: center;
    background: red;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.fs48fw500{
    font-size: 48px;
    font-weight: 500;
    color: white;
    font-family: Bold;
}



@font-face {
    font-family: Bold;
    src: url(../assets/fonts/bolditalic2.otf);
}


