body{
    background: black;
    margin: 0 auto;
    max-width: 1700px;
    width: 100%;
}

.login{
    padding-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}

.fs48fw600white{
    color: white;
    font-size: 40px;
    font-weight: 700;
}

.inputs{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input{
    padding: 20px 35px;
    border-radius: 20px;
    min-width: 450px;
    font-size: 25px;
    font-weight: 700;
}

button{
    background: red;
    padding: 20px 35px;
    color: white;
    border-radius: 20px;
    border: none;
    font-size: 25px;
    font-weight: 700;
    min-width: 450px;
}

a{
    text-decoration: none;
    font-size: 25px;
    font-weight: 600;
    color: white;
}